.home-canvas{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.circle{
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: .3;
}
.spin{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spin 20s linear infinite;
}
@keyframes spin {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(2, 2, 2, 720deg)}
}
.spin-n{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spin-n 20s linear infinite;
}
@keyframes spin-n {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(-2, -2, -2, 360deg)}
}
.spinX{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spinX 10s ease infinite;
}
@keyframes spinX {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 70%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(1, 0, 1, 1080deg)}
}
.spinX-n{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spinX-n 10s ease infinite;
}
@keyframes spinX-n {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 70%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(-1, 0, -1, 1080deg)}
}
.spinY{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spinY 10s ease infinite;
}
@keyframes spinY {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 70%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(0, 1, 1, 1080deg)}
}
.spinY-n{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spinY-n 10s ease infinite;
}
@keyframes spinY-n {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 70%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(0, -1, 1, 1080deg)}
}
.spinZ{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spinZ 10s ease infinite;
}
@keyframes spinZ {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 70%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(1, 1, 1, 1080deg)}
}
.spinZ-n{
  transform: rotate3d(0, 0, 0, 0deg);
  animation: spinZ-n 10s ease infinite;
}
@keyframes spinZ-n {
 0%{transform: rotate3d(0, 0, 0, 0deg)}
 70%{transform: rotate3d(0, 0, 0, 0deg)}
 100%{transform: rotate3d(1, 1, -1, 1080deg)}
}